<div style="padding:20px;
            color:white;
            margin:10;
            font-size:170%;
            text-align:left;
            display:fill;
            border-radius:5px;
            background-color:#CA6F1E;
            overflow:hidden;
            font-weight:700"><span style='color:#283747'></span>" Activity: Perform logistic regression " </div>


* Importing packages and loading data
* Exploring the data and completing the cleaning process
* Building a binomial logistic regression model 
* Evaluating a binomial logistic regression model using a confusion matrix

### **Feature Descriptions**

| **Column Name**                        | **Type** | **Description**                                                                                       |
|----------------------------------------|----------|-------------------------------------------------------------------------------------------------------|
| **Satisfaction**                       | `str`    | Customer’s overall assessment of the airline, either “satisfied” or “dissatisfied”                    |
| **Gender\***                           | `str`    | For purposes of this dataset, “Male” or “Female” were the only two responses                          |
| **Customer Type**                      | `str`    | Customer’s loyalty status, either “Loyal Customer” or “Disloyal Customer”                             |
| **Age**                                | `int`    | Customer’s age                                                                                        |
| **Type of Travel**                     | `str`    | Customer’s reason for travel, either “business” or “personal”                                         |
| **Class**                              | `str`    | Customer’s purchased seat class, either “Business,” “Eco,” or “Eco Plus”                              |
| **Flight Distance**                    | `int`    | How far the flight traveled (in miles/kilometers)                                                     |
| **Seat comfort**                       | `int`    | Customer’s rating of seat comfort (1 to 5 scale)                                                      |
| **Departure/Arrival time convenient**  | `int`    | Customer’s rating of convenience for departure and arrival time (1 to 5 scale)                        |
| **Food and drink**                     | `int`    | Customer’s rating of food and drink (1 to 5 scale)                                                    |
| **Gate location**                      | `int`    | Customer’s rating of the convenience of the gate location (1 to 5 scale)                              |
| **Inflight wifi service**              | `int`    | Customer’s rating of the inflight wifi/Internet service (1 to 5 scale)                                |
| **Inflight entertainment**             | `int`    | Customer’s rating of inflight entertainment (1 to 5 scale)                                            |
| **Online support**                     | `int`    | Customer’s rating of online support services of the airline (1 to 5 scale)                            |
| **Ease of online booking**             | `int`    | Customer’s rating of the ease of booking tickets online (1 to 5 scale)                                |
| **On-board service**                   | `int`    | Customer’s rating of service by airline personnel (1 to 5 scale)                                      |
| **Leg room service**                   | `int`    | Customer’s rating of amount of legroom (1 to 5 scale)                                                 |
| **Baggage handling**                   | `int`    | Customer’s rating of convenience or ease of baggage handling (1 to 5 scale)                           |
| **Checkin service**                    | `int`    | Customer’s rating of checkin service by airline personnel (1 to 5 scale)                              |
| **Cleanliness**                        | `int`    | Customer’s rating of cleanliness of the airplane (1 to 5 scale)                                       |
| **Online boarding**                    | `int`    | Customer’s rating of the online boarding process (1 to 5 scale)                                       |
| **Departure Delay in Minutes**         | `int`    | Length of the departure delay for the flight measured in minutes                                      |
| **Arrival Delay in Minutes**           | `int`    | Length of the arrival delay for the flight measured in minutes                                        |

#### 0. Imports

##### Import packages

Import relevant Python packages. Use `train_test_split`, `LogisticRegression`, and various imports from `sklearn.metrics` to build, visualize, and evalute the model.

In [2]:
import pandas as pd
from warnings import filterwarnings
filterwarnings('ignore')
pd.set_option('display.max_columns', None)

#### 1. Load the dataset

You can get the data from this [link](https://raw.githubusercontent.com/ManonYa09/Statistics_with_Python_G7/main/Dataset/YdGwfiz4Tp2RsH4s-E6d5g_fe6fe3c8cf0d49028b6706bf33f91df1_Invistico_Airline.csv)

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/ManonYa09/Statistics_with_Python_G7/main/Dataset/YdGwfiz4Tp2RsH4s-E6d5g_fe6fe3c8cf0d49028b6706bf33f91df1_Invistico_Airline.csv")

In [5]:
df.head(2)

,satisfaction,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
0,satisfied,Loyal Customer,65,Personal Travel,Eco,265,0,0,0,2,2,4,2,3,3,0,3,5,3,2,0,0.0
1,satisfied,Loyal Customer,47,Personal Travel,Business,2464,0,0,0,3,0,2,2,3,4,4,4,2,3,2,310,305.0

In [19]:
df.shape

(129880, 22)

In [6]:
df.isnull().sum()
df.dropna(inplace=True)

In [26]:
df.nunique()

satisfaction                            2
Customer Type                           2
Age                                    75
Type of Travel                          2
Class                                   3
Flight Distance                      5397
Seat comfort                            6
Departure/Arrival time convenient       6
Food and drink                          6
Gate location                           6
Inflight wifi service                   6
Inflight entertainment                  6
Online support                          6
Ease of Online booking                  6
On-board service                        6
Leg room service                        6
Baggage handling                        5
Checkin service                         6
Cleanliness                             6
Online boarding                         6
Departure Delay in Minutes            464
Arrival Delay in Minutes              472
dtype: int64

In [28]:
yes_no_columns = []
num_columns = []
cat_no_columns = []

for column in df.columns:
    if df[column].nunique()==2:
       yes_no_columns.append(column)
    elif df[column].nunique()<=6:
        cat_no_columns.append(column)
    else:
        num_columns.append(column)

In [38]:
df[cat_no_columns].head()

,Class,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding
0,Eco,0,0,0,2,2,4,2,3,3,0,3,5,3,2
1,Business,0,0,0,3,0,2,2,3,4,4,4,2,3,2
2,Eco,0,0,0,3,2,0,2,2,3,3,4,4,4,2
3,Eco,0,0,0,3,3,4,3,1,1,0,1,4,1,3
4,Eco,0,0,0,3,4,3,4,2,2,0,2,4,2,5

In [34]:
df[yes_no_columns].head()

  satisfaction   Customer Type   Type of Travel
0    satisfied  Loyal Customer  Personal Travel
1    satisfied  Loyal Customer  Personal Travel
2    satisfied  Loyal Customer  Personal Travel
3    satisfied  Loyal Customer  Personal Travel
4    satisfied  Loyal Customer  Personal Travel

#### 2. Exploratory Data Analysis
perform Data exploration, data cleaning

#### 2.1 Quick Explorary The Dataset

##### 2.2 Data Cleaning

##### Explore the data

Check the data type of each column. Note that logistic regression models expect numeric data.

##### 2.3 Diagnostics Analytics

**Prepare the data**

If you want to create a plot (`sns.regplot`) of your model to visualize results later in the notebook, the independent variable `Inflight entertainment` cannot be "of type int" and the dependent variable `satisfaction` cannot be "of type object." 

Make the `Inflight entertainment` column "of type float."

### 3. Data Preprocessing ,

**Prepare the data**

After loading the dataset, prepare the data to be suitable for a logistic regression model. This includes: 
*   Encoding the data
*   Renaming a column
*   Creating the training and testing data

#### 3.1 Feature Encoding
<!-- ##### 3.1.1 One-hot Encoding -->
##### 3.1.2 Two-hot Encoding or label encoding

In [122]:
def model_eval(y_true,y_pred):
    tn, fp, fn, tp = confusion_matrix(y_true,y_pred).ravel()
    accuracy=(tp+tn)/(tp+tn+fp+fn)
    error = 1-accuracy
    recall=tp/(tp+fn)
    specificity=tn/(fp+tn)
    result={"Accuracy":accuracy,"Error":error,"Recall":recall,'Specificity':specificity}
    return result

In [91]:
# !pip install explainerdashboard

In [95]:
from explainerdashboard import ClassifierExplainer, ExplainerDashboard
explainer = ClassifierExplainer(Logit, x_train, y_train)
ExplainerDashboard(explainer, port=434).run()

WARNING: For shap='linear', shap interaction values can unfortunately not be calculated!
Note: model_output='probability' is currently not supported for linear classifiers models with shap. So defaulting to model_output='logodds' If you really need probability outputs use shap='kernel' instead.
Note: shap values for shap='linear' get calculated against X_background, but paramater X_background=None, so using X instead...
Generating self.shap_explainer = shap.LinearExplainer(model, X)...
Building ExplainerDashboard..
WARNING: the number of idxs (=97115) > max_idxs_in_dropdown(=1000). However with your installed version of dash(2.16.1) dropdown search may not work smoothly. You can downgrade to `pip install dash==2.6.2` which should work better for now...
Detected notebook environment, consider setting mode='external', mode='inline' or mode='jupyterlab' to keep the notebook interactive while the dashboard is running...
For this type of model and model_output interactions don't work, so setting shap_interaction=False...
The explainer object has no decision_trees property. so setting decision_trees=False...
Generating layout...
Calculating shap values...
Calculating prediction probabilities...
Calculating metrics...
Calculating confusion matrices...
Calculating classification_dfs...
Calculating roc auc curves...
Calculating pr auc curves...
Calculating liftcurve_dfs...
Calculating dependencies...
Calculating permutation importances (if slow, try setting n_jobs parameter)...
Calculating predictions...
Calculating pred_percentiles...
Reminder: you can store the explainer (including calculated dependencies) with explainer.dump('explainer.joblib') and reload with e.g. ClassifierExplainer.from_file('explainer.joblib')
Registering callbacks...
Starting ExplainerDashboard on http://192.168.100.38:434